html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  position: absolute;
  margin: 0;
  padding: 10px;
  width: 250px;
  top: 5em;
  left: 50%;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 200ms linear;
}

.polaroid:hover {
  z-index: 200;
  transform: rotate(0deg);
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 1);
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 80px;
  top: 125px;
}

figure:first-child {
  transform: rotate(-12deg);
  left: 20%;
  top: 100px;
}

figure:nth-last-child(2) {
  transform: rotate(5deg);
  left: 30%;
  top: 150px;
  z-index: 100;
}

figure:last-child {
  transform: rotate(33deg);
  left: 40%;
  top: 100px;
}
